.f310545398Hy6yeochzkzttktilbIcon {
  position: relative;
  border-radius: var(--br-xs);
  width: 210px;
  height: 140px;
  object-fit: cover;
}
.heading {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text,
.text1 {
  position: relative;
  line-height: 150%;
}
.text {
  align-self: stretch;
  font-size: var(--text-regular-normal-size);
}
.text1 {
  font-weight: 600;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.text2 {
  position: absolute;
  top: 4px;
  left: 89px;
  line-height: 150%;
  font-weight: 600;
}
.containerParent {
  position: relative;
  width: 156px;
  height: 29px;
}
.bookmarkCheckFillIcon,
.calendarWeekIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.bookmarkCheckFillIcon {
  object-fit: cover;
}
.calendarWeekParent,
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendarWeekParent {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.groupParent {
  flex: 1;
  justify-content: space-between;
}
.div,
.headingParent,
.info {
  display: flex;
  justify-content: flex-start;
}
.info {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xl) 0 0;
  font-size: var(--text-small-semi-bold-size);
}
.div,
.headingParent {
  align-items: flex-start;
}
.headingParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.div {
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xl);
  min-width: 720px;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--black);
  font-family: var(--text-small-semi-bold);
  align-self: stretch;
}
