.text {
  position: relative;
  line-height: 150%;
}
.chevronDownIcon {
  position: relative;
  width: 15px;
  height: 15px;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-lightslategray);
  font-family: var(--text-small-semi-bold);
}
