.calendarWeekIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.div {
  position: relative;
  line-height: 165%;
  font-weight: 500;
}
.calendarWeekParent,
.headingRightPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.headingRightPanel {
  align-items: flex-start;
  gap: var(--gap-71xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
  font-family: var(--font-noto-sans-jp);
}
