.b {
  position: relative;
  line-height: 165%;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-noto-sans-jp);
  align-self: stretch;
}
