.maskGroupIcon,
.searchIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.maskGroupIcon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.header {
  border-bottom: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-4xl);
  align-self: stretch;
}
