.text,
.text1 {
  position: relative;
  line-height: 150%;
}
.text {
  display: inline-block;
  width: 41px;
  flex-shrink: 0;
}
.text1 {
  flex: 1;
  color: var(--color-darkslategray);
}
.scheduleList {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  width: 217px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--text-small-semi-bold-size);
  color: var(--color-lightslategray);
  font-family: var(--text-small-semi-bold);
}
